<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.winkhouse.mwinkhouse"
    android:versionCode="25"
    android:versionName="1.9.0" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-feature android:name="android.hardware.camera" android:required="false"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_sec"
        android:theme="@style/AppTheme" >

        <service
            android:name="org.winkhouse.mwinkhouse.service.CloudSearchService"
            android:exported="false"/>
        <service
            android:name="org.winkhouse.mwinkhouse.service.WinkCloudSearchService"
            android:exported="false"/>

        <activity
            android:name="org.winkhouse.mwinkhouse.activity.StartUpActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:finishOnTaskLaunch="true"
            android:clearTaskOnLaunch="true"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <data android:scheme="geo" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="org.winkhouse.mwinkhouse.activity.immobili.ListaImmobiliActivity"
            android:label="Lista immobili"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:parentActivityName="org.winkhouse.mwinkhouse.activity.StartUpActivity"
            android:launchMode="singleTop">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.winkhouse.mwinkhouse.activity.StartUpActivity" />
        </activity>

        <activity android:name="org.winkhouse.mwinkhouse.activity.immobili.DettaglioImmobileActivity"
            android:label="Immobile"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:parentActivityName="org.winkhouse.mwinkhouse.activity.immobili.ListaImmobiliActivity"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.winkhouse.mwinkhouse.activity.immobili.ListaImmobiliActivity" />
        </activity>

        <activity android:name="org.winkhouse.mwinkhouse.activity.immobili.RicercaImmobiliActivity"
            android:label="Ricerca immobili"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:parentActivityName="org.winkhouse.mwinkhouse.activity.immobili.ListaImmobiliActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.winkhouse.mwinkhouse.activity.immobili.ListaImmobiliActivity" />

        </activity>

        <activity android:name="org.winkhouse.mwinkhouse.activity.immobili.DummyGDriveActivity"
            android:label="Ricerca immobili"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:parentActivityName="org.winkhouse.mwinkhouse.activity.immobili.ListaImmobiliActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.winkhouse.mwinkhouse.activity.immobili.ListaImmobiliActivity" />

        </activity>

        <activity android:name="org.winkhouse.mwinkhouse.activity.immagini.ImmobiliImmaginiGalleryActivity"
            android:label="Immagini immobile"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:parentActivityName="org.winkhouse.mwinkhouse.activity.immobili.DettaglioImmobileActivity"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.winkhouse.mwinkhouse.activity.immobili.DettaglioImmobileActivity" />


        </activity>

        <activity android:name="org.winkhouse.mwinkhouse.activity.immagini.DettaglioImmagineActivity"
            android:label="Immagine"
            android:theme="@style/CustomActionBarTheme"
            android:configChanges="orientation"
            android:parentActivityName="org.winkhouse.mwinkhouse.activity.immagini.ImmobiliImmaginiGalleryActivity"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.winkhouse.mwinkhouse.activity.immagini.ImmobiliImmaginiGalleryActivity" />


        </activity>

        <activity android:name="org.winkhouse.mwinkhouse.activity.anagrafiche.ListaAnagraficheActivity"
            android:label="Lista anagrafiche"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:parentActivityName="org.winkhouse.mwinkhouse.activity.StartUpActivity"
            android:launchMode="singleTop">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.winkhouse.mwinkhouse.activity.StartUpActivity" />
        </activity>

        <activity android:name="org.winkhouse.mwinkhouse.activity.anagrafiche.DettaglioAnagraficaActivity"
            android:label="Anagrafica"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:configChanges="orientation"
            android:parentActivityName="org.winkhouse.mwinkhouse.activity.anagrafiche.ListaAnagraficheActivity"
            android:launchMode="singleTop">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.winkhouse.mwinkhouse.activity.anagrafiche.ListaAnagraficheActivity" />


        </activity>

        <activity android:name="org.winkhouse.mwinkhouse.activity.contatti.ListaContattiActivity"
            android:label="Lista contatti"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:parentActivityName="org.winkhouse.mwinkhouse.activity.anagrafiche.DettaglioAnagraficaActivity"
            android:launchMode="singleTop">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.winkhouse.mwinkhouse.activity.anagrafiche.DettaglioAnagraficaActivity" />


        </activity>

        <activity android:name="org.winkhouse.mwinkhouse.activity.anagrafiche.RicercaAnagraficheActivity"
            android:label="Ricerca anagrafiche"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:parentActivityName="org.winkhouse.mwinkhouse.activity.anagrafiche.ListaAnagraficheActivity"
            android:launchMode="singleTop">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.winkhouse.mwinkhouse.activity.anagrafiche.ListaAnagraficheActivity" />


        </activity>

        <activity android:name="org.winkhouse.mwinkhouse.activity.datibase.DatiBaseActivity"
            android:label="Dati di base"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:parentActivityName="org.winkhouse.mwinkhouse.activity.StartUpActivity"
            android:launchMode="singleTop">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.winkhouse.mwinkhouse.activity.StartUpActivity" />

        </activity>
        <activity android:name="org.winkhouse.mwinkhouse.activity.ImportActivity"
            android:label="Import/Export"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:parentActivityName="org.winkhouse.mwinkhouse.activity.StartUpActivity"
            android:launchMode="singleTop">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.winkhouse.mwinkhouse.activity.StartUpActivity" />

        </activity>

        <activity android:name="org.winkhouse.mwinkhouse.activity.stanze.ListaStanzeActivity"
            android:label="Stanze"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:configChanges="orientation"
            android:parentActivityName="org.winkhouse.mwinkhouse.activity.immobili.DettaglioImmobileActivity"
            android:launchMode="singleTop">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.winkhouse.mwinkhouse.activity.immobili.DettaglioImmobileActivity" />

        </activity>

        <activity android:name="org.winkhouse.mwinkhouse.activity.immobili.DettaglioImmobileExtraInfoActivity"
            android:label="Extra info"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:configChanges="orientation"
            android:parentActivityName="org.winkhouse.mwinkhouse.activity.immobili.DettaglioImmobileActivity"
            android:launchMode="singleTop">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.winkhouse.mwinkhouse.activity.immobili.DettaglioImmobileActivity" />

        </activity>

        <activity android:name="org.winkhouse.mwinkhouse.activity.settings.SettingsActivity"
            android:label="Impostazioni"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:parentActivityName="org.winkhouse.mwinkhouse.activity.StartUpActivity"
            android:launchMode="singleTop">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.winkhouse.mwinkhouse.activity.StartUpActivity" />

        </activity>

        <activity android:name="org.winkhouse.mwinkhouse.activity.colloqui.DettaglioColloquiActivity"
            android:label="Dettaglio colloquio"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:parentActivityName="org.winkhouse.mwinkhouse.activity.colloqui.ListaColloquiActivity"
            android:launchMode="singleTop">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.winkhouse.mwinkhouse.activity.colloqui.ListaColloquiActivity" />

        </activity>



        <activity android:name="org.winkhouse.mwinkhouse.activity.colloqui.ListaColloquiActivity"
            android:label="Lista colloqui"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:launchMode="singleTop"
            android:parentActivityName="org.winkhouse.mwinkhouse.activity.StartUpActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.winkhouse.mwinkhouse.activity.StartUpActivity" />

        </activity>

    </application>

</manifest>
